<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta name="robots" content="noindex" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>관리자 | Decap CMS</title>
    <script>
      // 명시적으로 설정 파일 경로 지정
      window.CMS_CONFIG_PATH = "/admin/config.yml";
    </script>
    <script src="https://unpkg.com/decap-cms@3.0.0/dist/decap-cms.js"></script>
  </head>
  <body></body>
  
</html>
